
FDD.fdb_latexmk
FDD.synctex.gz
FDD.xdv
FDD.pdf
FDD.synctex.gz
texfiles/elec/electrical.aux
texfiles/elec/electrical.aux
texfiles/general/safety.aux
texfiles/general/testing.aux
texfiles/mech/mechanical.aux
texfiles/mech/traction.aux
